.form {
  display: flex;
}

.input {
  border: none;
  border-radius: 0;
  padding-left: 5%;
  width: 80%;
  height: 77px;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;

  display: inline-block;
  border: none;
  width: 10%;
  height: 77px;
  cursor: pointer;
  font-size: 1.0rem;
}

.sendHighFive {
  cursor: pointer;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;

  display: inline-block;
  border: none;
  width: 10%;
  height: 77px;
  font-size: 1.0rem;
}
.send-icon{
  width: 15%;
  padding-left: 5%;
}
